<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My little Webshop</title>
  <style>

body {
  font-family: Arial;
}

.shop {
  margin: auto;
}

.shopitem {
  display: inline-block;
  width: 250px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border: 4px blue solid;
  background: #c0c0c0;
}

.error {
  color: red;
  border: 3px black solid;
  font-size: 40px;
  display: inline-block;
  padding: 10px;
}

  </style>
</head>
<body>
  <div>
    {{{ body }}}
  </div>
  <br><br>
  <a href="/">Back to main</a>
</body>
</html>
