html
 head
  title FlightBay
 body
  form(method="post")
   input(type="text", name="limit")
  p Yo Mama, cool thing
  table
   each val in rows
    tr
     td= val.falafel
     td= val.falafel
  table
   each val in rows
    tr
     td= val.falafel
     td= val.falafel
   
