<form method="POST" ACTION="/login">
<table>
  <tr>
    <td>Username:</td>
    <td><input type="text" name="username"></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><input type="password" name="password"></td>
  </tr>
  <tr>
    <td><input type="submit" name="login" value="login"></td>
    <td>&nbsp;</td>
  </tr>
</table>

</form>
<p style="color: red">{{ err }}</p>

